<VirtualHost *:80>
    # The ServerName directive sets the request scheme, hostname and port that
    # the server uses to identify itself. This is used when creating
    # redirection URLs. In the context of virtual hosts, the ServerName
    # specifies what hostname must appear in the request's Host: header to
    # match this virtual host. For the default virtual host (this file) this
    # value is not decisive as it is used as a last resort host regardless.
    # However, you must set it for any further virtual host explicitly.
    #ServerName www.example.com

    ServerAdmin <%= node['apache']['contact'] %>
    DocumentRoot <%= node['apache']['docroot_dir'] %>/

    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>

    <Directory <%= node['apache']['docroot_dir'] %>/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Require all granted
        # This directive allows us to have apache2's default start page
        # # in /apache2-default/, but still have / go to the right place
        # #RedirectMatch ^/$ /apache2-default/
    </Directory>

    ScriptAlias /cgi-bin/ <%= node['apache']['cgibin_dir'] %>/
    <Directory "<%= node['apache']['cgibin_dir'] %>">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require all granted
    </Directory>
    # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
    # error, crit, alert, emerg.
    # It is also possible to configure the loglevel for particular
    # modules, e.g.
    #LogLevel info ssl:warn
    LogLevel warn

    ErrorLog <%= node['apache']['log_dir'] %>/<%= node['apache']['error_log'] %>
    CustomLog <%= node['apache']['log_dir'] %>/<%= node['apache']['access_log'] %> combined
    ServerSignature On

    Alias /doc/ "/usr/share/doc/"
    <Directory "/usr/share/doc/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None
        Require ip 127.0.0.0/255.0.0.0
        Require ip ::1/128
    </Directory>
    # For most configuration files from conf-available/, which are
    # enabled or disabled at a global level, it is possible to
    # include a line for only one particular virtual host. For example the
    # following line enables the CGI configuration for this host only
    # after it has been globally disabled with "a2disconf".
    #Include conf-available/serve-cgi-bin.conf

    <% if %w{ rhel fedora }.include?(node['platform_family']) -%>
        #
        # This configuration file enables the default "Welcome"
        # page if there is no default index page present for
        # the root URL.  To disable the Welcome page, comment
        # out all the lines below.
        #
        <LocationMatch "^/+$">
            Options -Indexes
            ErrorDocument 403 /error/noindex.html
        </LocationMatch>
    <% end -%>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
