<IfModule mod_proxy.c>
  #turning ProxyRequests on and allowing proxying from all may allow
  #spammers to use your proxy to send email.

  ProxyRequests Off

  <Proxy *>
    AddDefaultCharset off
    <% if node['apache']['proxy'].flatten.inject(false) { |b, e| b || e != '' } %>
    Require all granted
    <% else %>
    <% if node['apache']['proxy']['deny']['ips'] %>
    Require not ip <%= node['apache']['proxy']['deny']['ips'] %>
    <% end %>
    <% if node['apache']['proxy']['deny']['hosts'] %>
    Require not host <%= node['apache']['proxy']['deny']['hosts'] %>
    <% end %>
    <% if node['apache']['proxy']['allow']['ips'] %>
    Require ip <%= node['apache']['proxy']['allow']['ips'] %>
    <% end %>
    <% if node['apache']['proxy']['allow']['hosts'] %>
    Require host <%= node['apache']['proxy']['allow']['hosts'] %>
    <% end %>
    <% end %>
  </Proxy>

  # Enable/disable the handling of HTTP/1.1 "Via:" headers.
  # ("Full" adds the server version; "Block" removes all outgoing Via: headers)
  # Set to one of: Off | On | Full | Block

  ProxyVia On
</IfModule>
